body {
    position: relative;
    display: flex;
    height: 100vh;
    background: url(img/) no-repeat center;
    background-size: cover;
    z-index: -1;
}


#container {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#container > div {
    display: block;
    width: 400px;
    height: auto;
    margin: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: right;

}

.box1 {
    border:1px solid orange;
}

.box2 {
    border:1px solid skyblue;
    font-size: 18px;
}

.box3 {
    border:1px solid purple;
}

.box4 {
    border:1px solid cornflowerblue;
}

.clock {
    font-size: 100px;
}

.log {
    font-size: 22px;
}

input {
    display: block;
    flex-direction: column;
    width: 200px;
    height: auto;
    border:1px solid white; 
    background-color:transparent;
    color: white;
    margin: 5px;
    padding: 3px;
}

.hidden {
    display: none;
  }



